* {
    margin: 0;
    padding: 0;
    background-color: #bfb1c1;
    font-family: monospace;
}
header {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 10vh;
    position: static;
}
p {
    font-size: 50px;
    padding: 10px;
}
.translateContainer {
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    justify-self: center;
}

.btn {
    border: 2px solid #5d576b;
    border-radius: 5px;
    height: 60px;
    width: 120px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background-color: white;
    color: #5d576b;
    margin: 20px;
    font-size: 20px;
}
.btn:hover {
    font-style: italic;
}

textarea {
    background-color: white;
    color: #9e94b6;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#error-message {
    font-size: 20px;
    height: 10vh;
    position: absolute;
    text-align: center;
    color: rgba(255, 0, 0, 0.699);
    margin: 0 10px;
}
.translateAndError {
    display: block;
}
@media only screen and (max-width: 1170px) {
    header {
        font-size: 40px;
    }
    p {
        font-size: 40px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        display: block;
    }
    header {
        height: 10vh;
        font-size: 35px;
    }
    p {
        font-size: 35px;
    }
    textarea {
        height: 20px;

        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    header {
        font-size: 25px;
        height: 10vh;
    }
    p {
        font-size: 25px;
    }
    .translateContainer {
        height: 55vh;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #error-message {
        font-size: 15px;
        height: 20vh;
    }
    .btn {
        height: 50%;
        font-size: 15px;
    }
}
